@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root{
    --yellow: #ffcc0d;
    --black: #000;
    --white: #fff;
    --light-bg: #eee;
    --border-bold: .5rem solid var(--black);
    --border-light: .2rem solid var(--black);
}

*{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--black);
}

*::selection{

}

html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

body{
    overflow: hidden;
    transition: .2s linear !important ;
}
body.active{
    padding-left: 35rem;
}
section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}


.heading{
    margin-bottom: 3rem;
    text-align: center;
}
.heading span{
    text-transform: uppercase;
    font-size: 6.5rem;
    border-bottom: var(--border-bold);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border-light);
    
    font-size: 2rem;
}
.btn:hover{
background-color: var(--black);
color: var(--white);
}

.header{
    position: fixed;
    top: 0; left: -35rem;
    height: 100vh;
    background-color: var(--white);
    border-right: var(--border-bold);
    width: 35rem;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: .2s linear !important;
}

.header .logo{
    text-transform: uppercase;
    border-top: var(--border-bold);
    border-bottom: var(--border-bold);
    border-color: #ffcc0d;
    font-weight: bolder;
    font-size: 3rem;

}
.header .logo span{
    color: #ffcc0d;
}

.header .navbar {
    width: 100%;
}

.header .navbar a{
    display: block;
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: 1rem;
}
.header .navbar a.active,
.header .navbar a:hover{
  background-color: var(--yellow);
}

.header .follow a{
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    
}
.header .follow a:hover{
    transform: rotate(360deg);
    transition: .6s linear !important;
}

#menu-btn{
    position: absolute;
    top: 0; right: -5.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: var(--black);
    color:var(--white);
}
.header.active{
    left: 0rem;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 100vh;
}
.home .image{

    flex: 1 1 20rem;

}
.home .image img{
 height: 45rem;
 padding: 2rem;
 border: var(--border-bold);
}
.home .content{
    flex: 1 1 40rem;
}
.home .content h3{
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: .5rem;
}

.home .content span{
    display: inline-block;
    padding: 1rem;
    background-color: var(--yellow);
    font-size: 3rem;
    margin: 1rem 0;
}

.home .content p{
    font-size: 2rem;
    line-height: 2;
    padding: 1rem 0;

}
header.active{
    padding-top: 7rem;
}

#menu-btn.fa-times{
    right: 0;
}





.about .skills{
    margin: 3rem 0;

}

.about .skills .progress .bar{
    margin: 1rem auto;
    max-width: 75rem;
    border: var(--border-bold);
    padding: 1rem;

}

.about .skills .progress .bar h3{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
   
    background-color: var;
    align-items: center;
    background-color: var(--yellow);
}

.about .skills .progress .bar span{
    font-weight: normal;
}

.about .skills .progress .bar:nth-child(1) h3{
    width: 75%;
}

.about .skills .progress .bar:nth-child(2) h3{
    width: 65%;
}
.about .skills .progress .bar:nth-child(3) h3{
    width: 60%;
}
.about .skills .progress .bar:nth-child(4) h3{
    width: 50%;
}



.about .edu-exp .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .edu-exp .row .box-container{
    flex: 1 1 40rem;
}


.about .edu-exp .row .box-container .title{
    padding: 1.5rem;
    font-size: 2.5rem;
    background-color: var(--yellow);
}

.about .edu-exp .row .box-container .box{
    text-align: left;
    margin: 1.5rem;
    background-color: var(--light-bg);
}

.about .edu-exp .row .box-container .box span{
    font-size: 2rem;
}

.about .edu-exp .row .box-container .box h3{
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.about .edu-exp .row .box-container .box p{
    line-height: 1.5;
    font-size: 1.7rem;
    line-height: 2;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.services .box-container .box{
    padding: 2rem 2rem;
    border: var(--border-light);
}
.services .box-container .box i{
    font-size: 4rem;
    margin-bottom: 3rem;
}

.services .box-container .box h3{
    margin: 1rem 0;
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--yellow);
    font-weight: normal;
}

.services .box-container .box p{
    line-height: 2;
    font-size: 1.7rem;
}
















/* // media query */
@Media (max-with:991px){
html{
        font-size: .55%;
        
    }
 body.active{
    padding-left: 0;
 }
}

@Media (max-with:450px){
    html{
            font-size: .50%;
            
        }
        .header.active{
            padding-top: 7rem;
        }
        #menu-btn.fa-times{
            right: 0;
        }
    }


    .home .image img{
        height: 55rem;;
        width: 100%;
    }
    
    .heading span{
        font-size: 4rem;
    }

    .about .biography p{
        margin: 1rem auto;
        max-width: 70rem;
        line-height: 1.5;
        font-size: 1.7rem;
    }
    
    .about .biography .bio{
        margin-top: 1rem;
    }
    
    .about .biography .bio h3{
        padding: 1rem 1.5rem;
        display: inline-block;
        margin: 1rem;
        background-color: var(--light-bg);
        border: var(--border-light);
        word-break: break-all;
        font-size: 2rem;
        font-weight: normal;
        text-transform: none;
    }

    .about .biography .bio h3 span{
        font-weight: lighter;
    }

    